@import "../../assets/styles/settings/utils.scss";

/* brand *
----------------------------------- */

.brand-inner {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.brand-title {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.brand-logo {
    width: 100%;

    @media (max-width: 768px) {
        max-width: 100px;
    }
}
