@import "../../assets/styles/settings/utils.scss";

/* Listsection *
------------------------------ */

.b-listsection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.listsection-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    padding: 0 0 0 25px;
}

.listsection-list-item {
    margin-bottom: 5px;
    font: 400 14px/1.3 "Titillium Web", "Helvetica Neue", "sans-serif";

    &.is-marker {
        list-style-type: inherit;
    }
}
