@import "../../assets/styles/settings/utils.scss";

/* companyinfo *
----------------------------------- */

.b-companyinfo {
    width: 100%;
    padding-bottom: 35px;
}

.companyinfo-section {
    padding-bottom: 35px;
}

.companyinfo-list-item {
    position: relative;
    margin: 0 0 5px 25px;
    font: 400 14px/1.3 "Titillium Web", "Helvetica Neue", "sans-serif";

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        margin: auto;
        width:7px;
        height:7px;
        transform: rotate(-45deg);
        border-right:2px solid #739024;
        border-bottom:2px solid #739024;
    }
}

.companyinfo-textbox {
    font: 400 14px/1.5 "Titillium Web", "Helvetica Neue", "sans-serif";
}

.companyinfo-textbox-title {
    font-weight: 400;
}

.companyinfo-textbox-text {
    margin-bottom: 15px;

    span {
        display: block;
    }
}

.companyinfo-textbox-icon {
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.companyinfo-textbox-link {
    cursor: pointer;

    &.is-colored {
        color: $color-astonished;
    }
}

