@import "../../assets/styles/settings/utils.scss";

/* pageheader *
----------------------------------- */

.b-pageheader {
    max-width: 1000px;
    width: 100%;
    background: #FFFFFF;
}

.pageheader-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 44px 0 30px;
    border-bottom: 1px solid $color-compassion;

    @media (max-width: 768px) {
        padding: 22px 0 15px;
    }
}

.pageheader-nav {
    margin-left: auto;

}


