@import '../assets/styles/settings/colors.scss';

/* page *
------------------------------ */

.l-page {
    position: relative;
    width: 100%;
    height: 100%;
    background: $color-courageous;
}

.page-wrapper {
    height: 100%;

    & > div {
        display: flex; // sticky footer
        flex-direction: column; // sticky footer
        max-width: 1000px;
        margin: auto;
        padding: 0 20px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2), -1px 0 5px rgba(0, 0, 0, 0.2);
    }
}

.page-inner {
    flex: 1 0 auto; // sticky footer
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.page-main {
    flex: 3;
    padding: 30px 70px 10px 0;

    @media (max-width: 768px) {
        padding: 20px 0 10px;
    }
}

.page-sideinfo {
    flex: 1;
    padding: 30px 10px 10px;

    @media (max-width: 768px) {
        padding: 20px 0 10px;
    }
}

.page-footer {
    flex-shrink: 0; // sticky footer
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 15px 0 40px;
    border-top: 1px solid $color-involved;
}

.page-footer-inner {
    padding: 44px 10px 30px;
}
