/* colors *
------------------------------ */

$color-astonished: #333333;
$color-involved: #979797;
$color-compassion: #C3C0C5;
$color-courageous: #F7F7F7;
$color-inspired: #EEEEEE;
$color-touched: #E8E7E8;
$color-happy: #739024;
$color-jolly: #E30042;
$color-btn: linear-gradient(#B6C58E, #739024);
